![dvd_image](dvd_image.jpg)

A DVD rental company needs your help! They want to figure out how many days a customer will rent a DVD for based on some features and has approached you for help. They want you to try out some regression models which will help predict the number of days a customer will rent a DVD for. The company wants a model which yeilds a MSE of 3 or less on a test set. The model you make will help the company become more efficient inventory planning.

The data they provided is in the csv file `rental_info.csv`. It has the following features:
- `"rental_date"`: The date (and time) the customer rents the DVD.
- `"return_date"`: The date (and time) the customer returns the DVD.
- `"amount"`: The amount paid by the customer for renting the DVD.
- `"amount_2"`: The square of `"amount"`.
- `"rental_rate"`: The rate at which the DVD is rented for.
- `"rental_rate_2"`: The square of `"rental_rate"`.
- `"release_year"`: The year the movie being rented was released.
- `"length"`: Lenght of the movie being rented, in minuites.
- `"length_2"`: The square of `"length"`.
- `"replacement_cost"`: The amount it will cost the company to replace the DVD.
- `"special_features"`: Any special features, for example trailers/deleted scenes that the DVD also has.
- `"NC-17"`, `"PG"`, `"PG-13"`, `"R"`: These columns are dummy variables of the rating of the movie. It takes the value 1 if the move is rated as the column name and 0 otherwise. For your convinience, the reference dummy has already been dropped.

In [43]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Import any additional modules and start coding below

In [44]:
df = pd.read_csv('rental_info.csv')

In [45]:
df.head()

                 rental_date  ... rental_rate_2
0  2005-05-25 02:54:33+00:00  ...        8.9401
1  2005-06-15 23:19:16+00:00  ...        8.9401
2  2005-07-10 04:27:45+00:00  ...        8.9401
3  2005-07-31 12:06:41+00:00  ...        8.9401
4  2005-08-19 12:30:04+00:00  ...        8.9401

[5 rows x 15 columns]

In [46]:
df.describe()

             amount  release_year  ...      length_2  rental_rate_2
count  15861.000000  15861.000000  ...  15861.000000   15861.000000
mean       4.217161   2006.885379  ...  14832.841876      11.389287
std        2.360383      2.025027  ...   9393.431996      10.005293
min        0.990000   2004.000000  ...   2116.000000       0.980100
25%        2.990000   2005.000000  ...   6561.000000       0.980100
50%        3.990000   2007.000000  ...  12996.000000       8.940100
75%        4.990000   2009.000000  ...  21904.000000      24.900100
max       11.990000   2010.000000  ...  34225.000000      24.900100

[8 rows x 12 columns]

In [47]:
df.isna().sum()

rental_date         0
return_date         0
amount              0
release_year        0
rental_rate         0
length              0
replacement_cost    0
special_features    0
NC-17               0
PG                  0
PG-13               0
R                   0
amount_2            0
length_2            0
rental_rate_2       0
dtype: int64

In [48]:
df['rental_length'] = pd.to_datetime(df['return_date']) - pd.to_datetime(df["rental_date"])
df['rental_length_days'] = df['rental_length'].dt.days

In [49]:
df.head()

                 rental_date  ... rental_length_days
0  2005-05-25 02:54:33+00:00  ...                  3
1  2005-06-15 23:19:16+00:00  ...                  2
2  2005-07-10 04:27:45+00:00  ...                  7
3  2005-07-31 12:06:41+00:00  ...                  2
4  2005-08-19 12:30:04+00:00  ...                  4

[5 rows x 17 columns]

In [50]:
df['deleted_scenes'] =  np.where(df['special_features'].str.contains('Deleted Scenes'), 1,0)
df['behind_the_scenes'] =  np.where(df['special_features'].str.contains('Behind the Scenes'), 1,0)
df.drop("special_features", inplace=True, axis=1)

In [51]:
df.head()

                 rental_date  ... behind_the_scenes
0  2005-05-25 02:54:33+00:00  ...                 1
1  2005-06-15 23:19:16+00:00  ...                 1
2  2005-07-10 04:27:45+00:00  ...                 1
3  2005-07-31 12:06:41+00:00  ...                 1
4  2005-08-19 12:30:04+00:00  ...                 1

[5 rows x 18 columns]

Creating X and y, along with train and test splits

In [52]:
X = df.drop(['rental_length', 'rental_length_days', 'rental_date', 'return_date'], axis=1)
y = df["rental_length_days"]

In [53]:
X.head()

   amount  release_year  ...  deleted_scenes  behind_the_scenes
0    2.99        2005.0  ...               0                  1
1    2.99        2005.0  ...               0                  1
2    2.99        2005.0  ...               0                  1
3    2.99        2005.0  ...               0                  1
4    2.99        2005.0  ...               0                  1

[5 rows x 14 columns]

In [54]:
y.head()

0    3
1    2
2    7
3    2
4    4
Name: rental_length_days, dtype: int64

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=9)

In [56]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

model_configs = [
    {
        'name': 'LinearRegression',
        'model': LinearRegression(),
        'params': {
            'fit_intercept': [True, False]
        }
    },
    {
        'name': 'RandomForestRegressor',
        'model': RandomForestRegressor(),
        'params': {
            'n_estimators': [10, 50],
            'max_depth': [5, 10],
            'min_samples_split': [2, 5]
        }
    },
    {
        'name': 'DecisionTreeRegressor',
        'model': DecisionTreeRegressor(),
        'params': {
            'max_depth': [3, 5, 10],
            'min_samples_split': [2, 5, 10]
        }
    }
]

best_model = None
best_mse = float('inf')
best_params = {}

for config in model_configs:
    grid_search = GridSearchCV(estimator=config['model'], param_grid=config['params'], cv=5, scoring='neg_mean_squared_error')
    grid_search.fit(X_train, y_train)

    y_pred = grid_search.best_estimator_.predict(X_test)

    mse = mean_squared_error(y_test, y_pred)
    
    if mse < best_mse:
        best_mse = mse
        best_model = grid_search.best_estimator_
        best_params = grid_search.best_params_

print(f"Mejor Modelo: {best_model}")
print(f"Mejor Error Cuadrático Medio: {best_mse}")
print(f"Mejores Parámetros: {best_params}")

Mejor Modelo: RandomForestRegressor(max_depth=10, n_estimators=50)
Mejor Error Cuadrático Medio: 2.216443556278187
Mejores Parámetros: {'max_depth': 10, 'min_samples_split': 2, 'n_estimators': 50}